@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap');

$family-sans-serif: "Raleway", sans-serif;
$family-primary: $family-sans-serif;
$family-secondary: "Lato", sans-serif; 
$primary: #4B5556;
$info: #4FA7AE;
$link: $primary;
$link-hover: #41898F;
$scheme-main: #f5f5f5;

$feed-color: #F3F5F5;

$feed-background-color: #82898C; 
$feed-hover-background-color: #717A7C;

$tag-background-color: #C3CBCC;
$tag-hover-background-color: #B2B9BA;

$review-background-hover: none;

$body-color: $primary;
$body-background-color: $scheme-main;
$navbar-color: $primary;
$navbar-link: $primary;
$navbar-background-color: $scheme-main;
$footer-background-color: #ddd;
$footer-color: #888;
$footer-padding: 0 1.5rem 6rem
$widescreen-enabled: false
$fullhd-enabled: false
$navbar-breakpoint: 9999px; 
$section-padding: 4rem 1.5rem;

$navbar-item-hover-background-color: #E9E9E9
 
@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/base/_all.sass';
@import 'bulma/sass/elements/container.sass';
@import 'bulma/sass/elements/icon.sass'
@import 'bulma/sass/elements/image.sass'
@import 'bulma/sass/elements/title.sass'
@import 'bulma/sass/elements/tag.sass'
@import 'bulma/sass/elements/button.sass'
@import 'bulma/sass/components/navbar.sass'
@import 'bulma/sass/components/level.sass';
@import 'bulma/sass/layout/section.sass';
@import 'bulma/sass/layout/footer.sass';
@import 'bulma/sass/layout/hero.sass';
@import 'bulma/sass/grid/columns.sass';
@import "bulma/sass/form/_all.sass";

.burger
  transition: .25s ease;

+mobile 
  a:hover
    color: inherit;
  .burger:hover
    background-color: inherit;

.title, .subtitle, .tag
  color: $primary;
  font-family: $family-secondary;

.title
  font-weight: 300;
  
#navMenu
  box-shadow: none;
  overflow-x: hidden;
  padding: 1.1rem 0.75rem;
  height: 5000px;
  .columns
    margin: 0;
    :last-child:
      margin: 0;    
  .column
    div
      margin-bottom: 0.25rem;

.tag:hover 
  background-color: $tag-hover-background-color;

.tags a:hover 
  text-decoration: none;
  
.tags .feed 
  color: $feed-color;
  background-color: $feed-background-color;

.tags .feed:hover 
  background-color: $feed-hover-background-color;

  
  
// About

.about-button 
  cursor: pointer;

.about-button:hover 
  color: $link-hover;
  
// Albums

.album-info 
  border-left: #ccc 1px solid;
  padding-bottom: 0.5rem;

.album-image
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);

.album-image img
  //border: 1px #ccc solid;
  backface-visibility: hidden;
  transition: .25s ease;
  opacity: 1;
  
.album-image .overlay
  color: $primary;
  transition: .25s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

+desktop
  .album-image:hover img
    opacity: 0.3;
  .album-image:hover .overlay
    opacity: 1;
  
.album-card 
  .reviews p
    margin: 1rem 0 1rem 0;
  .tags
    margin: 1.5rem 0 0 0;
  .column
    padding: 0 1.5rem;

+mobile
  .album
    border-bottom: #ccc 1px dashed;
  .album-info 
    border-left: 0;
  .album-card .column
    padding: 1rem 1.5rem 0;
  .album:first-child
    padding-top: 1rem;    
    
// album title hover

+desktop  
  .album-info .title a
    transition: .25s ease;    
  .album-info .title a:after  
    color: $link-hover;
    font-family: 'FontAwesome';
    content: " \f1bc";   
    transition: .25s ease;
    opacity: 0;
  .album-info .title a:hover:after  
    opacity: 1;

// album subtitle hover

+desktop
  .album-info .subtitle a
    transition: .25s ease;  
  .album-info .subtitle a:after  
    color: $link-hover;
    font-family: 'FontAwesome';
    font-size: 18px;
    content: " \f1bc";   
    transition: .25s ease;
    opacity: 0;
  .album-info .subtitle a:hover:after  
    opacity: 1;

// album review hover  

+desktop
  .reviews a
    transition: .25s ease;
  .reviews a:hover
    color: $primary;
    background-color: $review-background-hover;
  .reviews a:after
    font-family: 'FontAwesome';
    content: " \f08e";
    transition: .25s ease;
    opacity: 0; 
  .reviews a:hover:after  
    opacity: 1;
  
+mobile
  .reviews a:after
    font-family: 'FontAwesome';
    content: " \f08e";

// Spinner

.spinner 
  margin-top: 3rem;
  position: relative;
  pointer-events: none;
  opacity: 0.5;
  &:after 
    @include loader;
    position: absolute;
    top: calc(50% - 2.5em);
    left: calc(50% - 2.5em);
    width: 5em;
    height: 5em;
    border-width: 0.25em;

// Footer

.footer p
  padding: 1rem 0;
  
.footer .column .is-narrow
  padding-right: 0;
  
// 404

.not-found p 
  margin: 1rem 0;
  
.no-albums p 
  margin: 1rem 0;

// Scroll button 

.scroll-to-top
  background-color: $scheme-main;
  border-radius: 50%;
  width: 30px;
  height: 30px;

+desktop
  .scroll-to-top:hover
    color: $link-hover; 
  
// logo

+desktop
  a.navbar-item.logo
    color: $navbar-link;
    transition: .25s ease;
  a.navbar-item.logo:hover
    background-color: $navbar-item-hover-background-color; 
  